<div ng-controller='textEditorController'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn btn-default" ng-click="play()">
                <span class="glyphicon glyphicon-play button"></span>
            </div>
            <div class="btn btn-default" ng-click="stop()">
                <span class="glyphicon glyphicon-stop button"></span>
            </div>
            <div class="btn btn-default" ng-click="stepOver()">
                <span class="glyphicon glyphicon-share-alt button"></span>
            </div>
            <div class="btn btn-default" ng-click="stepInto()">
                <span class="glyphicon glyphicon-arrow-down "></span>
            </div>            
            
        </div>
        <div class="panel-body" style="max-height:100%;">
            <div ng-repeat="line in lines">
                <div style="display:inline-block" class="breakpoint" ng-click="toggleBreakpoint($index)" ng-class="breakpoints.indexOf($index) > -1 ? 'active' : 'not-active'"><span>
                    <span ng-if="breakpoints.indexOf($index) > -1" class="glyphicon glyphicon-record"></span>
                    <span ng-if="breakpoints.indexOf($index) <= -1" style="margin-right:16px;"></span>
                </div>

                <input type="text" style="width:90%" ng-model="lines[$index]" />        
            </div>            
        </div>

</div>