<div ng-controller='textEditorController'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn btn-default">
                <span class="glyphicon glyphicon-play button" style="font-size:16px;"></span>
            </div>
            <div class="btn btn-default">
                <span class="glyphicon glyphicon-stop button" style="font-size:16px;"></span>
            </div>
            <div class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt button" style="font-size:16px;"></span>
            </div>
            <div class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-down " style="font-size:16px;"></span>
            </div>
            
            
        </div>
        <div class="panel-body">
            <input type="text" />
        </div>

</div>