.panel-default > .panel-heading {
  color: #333;
  background-color: #333333;
  border-color: #ddd;
}
input {
    border: none;
    background: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

.breakpoint {
    cursor:pointer;
}

.breakpoint.active {

}

.break.not-active {

}
.breakpoint:hover  {

}

.panelTitle {
    font-size: medium;
    color: white;
}

.table {
    border-collapse: collapse;
}